<div class="wrapper">

  <%= render 'layouts/header' %>

  <div class="jumbotron"></div>

  <div class="content">
    <p>Dada (hours)</p>
      </br>
    <p>Book a reservation or private party (Contact info)</p>
  </div>

  <%= render 'layouts/nav' %>

</div><!--end wrapper-->
