
<!-- content of page -->
<section class="jumbotron container-fluid"></section>

<div class="content">
<p><button class="btn book">Book</button>
  us for your private party or corporate event</p>
<p><button class="btn book">Reserve</button>
  a section for your group</p>

</div>
