
<body id="home">

    <div class="wrapper">

        <header>

            <h1 class="logo"><a href="">Nav</a></h1>

            <a class="to_nav" href="#primary_nav">Menu</a>

        </header>


        <div class="jumbotron">

        </div>

        <div class="content">
          <p>About Dada</p>
          </br>
          <p>Book a reservation or private party</p>
        </div>

        <nav id="primary_nav">

            <ul>

                <li><a href="">Portfolio</a></li>

                <li><a href="">About Me</a></li>

                <li><a href="">Nonsense</a></li>

                <li><a href="">Services</a></li>

                <li><a href="">Contact</a></li>

                <li class="top"><a href="#home">Top</a></li>

            </ul>

        </nav><!--end primary_nav-->

    </div><!--end wrapper-->

    <footer>

        <p>Copyright &copy;2012 Ian Yates <a href="http://webdesign.tutsplus.com">Webdesigntuts+</a></p>

    </footer>

</body>
</html>
