<% provide(:title, "Home") %>

<body id="home">

    <div class="wrapper">

        <header>

          <h1 class="logo"><a href="">Nav</a></h1>

          <a class="to_nav" href="#primary_nav">Menu</a>

        </header>



        <footer>

            <p>Copyright &copy;2012 Ian Yates <a href="http://webdesign.tutsplus.com">Webdesigntuts+</a></p>

        </footer>

        <nav id="primary_nav">

            <ul>

              <li><%= link_to "About",   '#' %></li>
              <li><%= link_to "Location",   '#' %></li>
              <li><%= link_to "Gallery", '#' %></li>
              <li><%= link_to "Reservations", '#' %></li>

            </ul>

        </nav><!--end primary_nav-->

    </div><!--end wrapper-->
