
<!-- content of page -->
<section class="jumbotron container-fluid"></section>

<div class="content" style="font-style:italic;padding: 0 20px 0 20px">

  <section>
    <div class="row">
		    <figure class="col-sm-6">
          <a href="reservations">
            <%= image_tag src="book_bar.jpg", class: "img-rounded" %>
            <p class="book">Book</p></a>
          <p>&nbsp us for your private party or corporate event</p>
        </figure>
        <figure class="col-sm-6">
          <a href="reservations">
            <%= image_tag src="section2.jpg", class: "img-rounded" %>
            <p class="book">Reserve</p></a>
          <p>&nbsp a section for your group</p>
        </figure>
  </section>
</div>
