
    <div class="row">
      <div class="col-md-12">
        <!-- content of page -->
        <section class="jumbotron container-fluid"></section>
        <div id="content">
          <%= render 'layouts/hours' %>
        </div>
      </div>
    </div>
