<div class="wrapper">

  <%= render 'layouts/header' %>

  <section class="jumbotron"></section>

  <div class="content">


  </div>

  <div id="mobile_nav">
    <%= render 'layouts/nav' %>
  </div>
</div><!--end wrapper-->
