<div class="wrapper">

  <%= render 'layouts/header' %>

  <section class="jumbotron"></section>

  <div class="content">

    <div class="col-sm-12">
      <%= render "layouts/hours" %>
    </div>

  </div>

  <div id="mobile_nav">
    <%= render 'layouts/nav' %>
  </div>
</div><!--end wrapper-->
