<% provide(:title, "Location") %>

<div class="wrapper">

  <%= render 'layouts/header' %>

  <div class="content">
    <h1>Address</h1>
    </br>
    <p>map api</p>
  </div>

  <%= render 'layouts/nav' %>

</div><!--end wrapper-->
