<% provide(:title, "Reservations") %>

<div class="wrapper">

  <%= render 'layouts/header' %>

  <div class="content">
    <h1>Reservations</h1>
    <p>Book a party!</p>
  </div>

  <div id="mobile_nav">
    <%= render 'layouts/nav' %>
  </div>

</div><!--end wrapper-->
