<% if @contact.errors.any? %>
  $("#list_errors").after("<%= j render('shared/error_messages') %>");
<% else %>
  $(".request_form").empty().append("<p>Thank you for your request! We will be in touch.</p>");
  $(".request_form").css({"text-align": "center", "color": "red"});
<% end %>
