<% provide(:title, "Reservations | ") %>

<div id="reserve_background">

  <div class="container form_box">
    <h1 class="center">Request a table reservation</h1>
    <p class="center">Minimum guests: 8</p>

    <p>Thanks!</p>

    <br>
    <p>*required</p>

  </div>
</div>
