<% provide(:title, "Gallery | ") %>

<div class="jumbotron" id="gallery_banner">
  <h1 style="text-align:center">Gallery</h1>
</div>

<div class="container content">

  <!-- upload form -->
  <% if logged_in? %>
    <div class="container" style="width:50%">
      <%= form_for (@photo), url: photos_path, html: { multipart: true } do |f| %>
          <%= f.file_field :image%>
          <%= f.submit "Add Photo", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>

  <!-- images -->
  <div style="padding-top:20px">
    <div class="gallery">
        <% @photos.each do |photo| %>
          <li class="gallery"><%= image_tag photo.image.url(:large) %></li>
        <% end %>
    </div>
  </div>

  <!-- lightbox -->
  <div class="backdrop">
    <!-- left arrow -->
    <button type="button" id="left_arrow" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
    <!-- righ arrow -->
    <button type="button" id="right_arrow" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
    <!-- close -->
    <h1 id="close_lightbox">X</h1>

  </div>

  <div class="box"></div>
</div>
