@import "bootstrap";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*begin our styles*/

body {
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #1c1c1c;
    background-color: black;
}

p,
ul {
    margin: 0 0 1.5em;
}

ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

a {
    color: #1D745A;
}

/* mobile header */
h1 {
  font-family: 'PT Serif', serif;
  font-size: 20px;
  line-height: 1.4em;
  margin: 0 0 .4em;
  font-weight: bold;
  color: white;
}

/* page headings */
h2 {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
    color: white;
}

  p {
      color: white;
  }

.hours {
  background: none;
  border: none;
  font: 16px/1.4em 'PT Sans', sans-serif;
}
/*layout*/

.wrapper {

}

article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}

/*header*/

header {
    background: #1c1c1c;
    padding: 15px 20px;
}

        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }

        header:after {
            clear:both;
        }

        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

h1.logo {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}

a.to_nav {
    float: right;
    color: #fff;
    background: #4e4e4e;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

/*navigation*/

#primary_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}

#primary_nav li:last-child a {
    border-bottom: none;
}

#primary_nav li a:hover,
#primary_nav li a:focus {
    color: gray;
    background: none;
}

.jumbotron {
  background: image-url("bar3-1.jpg");
  background-repeat: no-repeat;
  min-height: 1000px;
  width: 100%;
  background-size: 100% 100%;
}

.sidebar {
  display: none;
}

/* location */

.container {
  margin-left: 0;
  margin-right: 0;
}

 #content {
   text-align: center;
 }

 #map-container {
    height: 400px;
    border-radius: 4px 4px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 0px;
  }
  #map-canvas {
    height: 384px;
    width: 100%;
  }


#sign-container {
  background: image-url("dada_sign.jpg");
  background-size: 100% 100%;
  height: 400px;
  border-radius: 4px 4px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 0px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;  
}

input {
  height: auto !important;
}


@media only screen and (min-width: 768px) {



  #dada_sign {

  }


  #sidebar-wrapper {

    margin-left: -250px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 1000;
  }

    #content {
      margin-left: 350px;
    }


    .sidebar {
      display: block;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;

    }

    .jumbotron {
      margin-left: 300px;
    }

    .content {
      position: fixed;
      left: 400px;
    }


    .desktop_logo {
      position: fixed;
      top: 15px;
      left: 25px;
      z-index: 1;
    }

    a.to_nav {
        display: none;
    }

    header {
      display: none;
    }


    .wrapper {
        position: relative;
        margin: auto;

    }

    #primary_nav {
        position: absolute;
        top: 300px;
        left: 50px;
        background: none;
    }
    #primary_nav ul {
      background: none;
    }
/*
    #primary_nav li {
        display: inline;
    }
*/
    #primary_nav li a {
        font-size: 1.4em;
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #primary_nav li.top {
        display: none;
    }

    #primary_nav li a:hover,
    #primary_nav li a:focus {
        color: gray;
        background: none;
    }

    section .row img {
      margin: 20px -80px 20px;
      width: 95%;
    }

    #mobile_nav {
      display: none;
    }

    .mobile {
      display: none;
    }

}

@media only screen and (max-width: 767px) {
  .desktop_logo {
    display: none;
  }

  .jumbotron {
    background: image-url("home_drinks.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    background-size: 100% 100%;
}

  section .row img {
  margin: 0 0 20px;
  width: 100%;
  }


.desktop {
  display: none;
}

}
