@import "bootstrap";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background: none;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*begin our styles*/

body {
    font: 16px/1.4em 'Optima','PT Sans', sans-serif;;
    color: #1c1c1c;
  /*  background-color: black; */
}

p,
ul {
    margin: 0 0 1.5em;
}

ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

a {
    color: #1D745A;
}

h2 {
    font-family: 'PT Serif', serif;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
    color: black;
}

  p {
      color: black;
  }


/*layout*/



/*header*/

header {
    background: #1c1c1c;
    padding: 15px 20px;
}

        /*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
        header:before,
        header:after {
            content:"";
            display:table;
        }

        header:after {
            clear:both;
        }

        /* For IE 6/7 (trigger hasLayout) */
        header {
            zoom:1;
        }

h1.logo {
    color: #d8d8d8;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.2em;
}

 .content {
   text-align: center;
 }


.menu {
    float: right;
    color: #d8d8d8;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    height: 22px;
    letter-spacing: 0.1em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
}

.menu:hover,
.menu:focus {
    color: #1c1c1c;
    background: #ccc;
}


/* footer */

footer {
  height: 100%;
  background-color: black;
  margin-right: 0;
  margin-top: 20px;
  padding-top: 25px;
}

footer p {
  color: white;
}



/*navigation*/

#mobile_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#mobile_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
}

#mobile_nav li a:hover,
#mobile_nav li a:focus {
    color: gray;
    background: none;
}

/* desktop nav */

#desktop_nav ul {
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}

#desktop_nav li a {
    display: block;
    padding: 0 20px;
/*    color: #fff; */
    color: #d8d8d8;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
}


#desktop_nav li a:hover,
#desktop_nav li a:focus {
    color: gray;
    font-weight: bold;
}

 /* home */

 .jumbotron {
   background: image-url("bar_front2.jpg");
   background-repeat: no-repeat;
   min-height: 750px;
   width: 100%;
   background-size: 100% 100%;
 }

 .book {
   text-decoration: none;
   font-weight: bold;
   padding: 5px 10px;
/*   font-family: 'PT Serif', serif*/
   font-size: 18px;
   margin: 0 0 .4em;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   background-color: none;
   /*
   border-style: solid;
   border-color: gray;
   border-width: 2px;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   */
 }

 .book:hover,
 .book:focus {
   color: $gray;
   font-weight: bold;
   text-decoration: none;
   cursor: pointer;
 }

 /* reservations */

   .form {
     padding-top: 40px;
     padding-bottom: 40px;
   }

   #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

  input {
    height: auto !important;
  }

  .reserve {
    padding-top: 10px;
  }

  #section {
    background: image-url("section2.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: 100% 100%;

  }

  #full_bar {
    background: image-url("book_bar.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: 100% 100%;
  }

 /* location */

 #map-container {
    height: 400px;
    border-radius: 4px 4px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 0px;
  }
  #map-canvas {
    height: 384px;
    width: 100%;
  }

  #location {
    background: image-url("dada_sign2.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    min-height: 400px;
    background-size: 100% 100%;
  }


@media only screen and (min-width: 768px) {

    .wrapper {
        position: relative;
        margin: auto;
    }

    .mobile {
      display: none;
    }

    #mobile_nav {
      display:none;
    }

    #desktop_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }

    #desktop_nav li {
        display: inline;
    }

    #desktop_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #desktop_nav li a:hover,
    #desktop_nav li a:focus {
        color: gray;
        background: none;
    }

    section .row img {
      margin: 20px -80px 20px;
      width: 95%;
    }

    #section_container {
      padding-top:110px;
    }

    #full_bar_container {
      padding-top:130px;
    }

}

@media only screen and (max-width: 767px) {

  #desktop_nav {
    display: none;
  }

  #mobile_nav {
    float: right;
  }

  span.glyphicon {
      font-size: 2em;
  }

  .jumbotron {
    background: image-url("home_drinks.jpg");
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    background-size: 100% 100%;
  }

  section .row img {
  margin: 0 0 20px;
  width: 100%;
  }

  header {
    background: #1c1c1c;
  }

  #section_container {
    padding-top:10px;
  }

  #full_bar_container {
    padding-top:10px;
  }



}
