<footer>
  <div id="parent">

    <div>
      <h2>Location:</h2>
      <p>65 Post St
      <br>(Btwn Montgomery and Kearny)
      <br>San Francisco, CA 94104
      <br>(415) 357-1367
      </p>
    </div>

    <div>
      <%= render "layouts/hours" %>
    </div>


    <div id="facebook" style="text-align:center">
      <p>Connect with us</p>
      <p>
      <a href="www.facebook.com/sfdada">
      <%= image_tag "facebook.png", class: "facebook"%>
      </a></p>
    </div>
  </div>

</footer>
