<footer>
    <div class="content">
      <p>DaDa Bar | 65 Post St San Francisco, CA 94104 | (415) 357-1367</p>
      <p style="font-style:italic">Hours Mon-Sun 1pm-2am | Happy Hour M-F 4pm-7pm</p>
    <div>
</footer>
