<h2 style="color:white">Hours:</h2>
<p>Mon-Wed: &nbsp; 4:00pm-2am
<br>Thu-Fri: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3:30pm-2am
<br>Saturday: &nbsp;&nbsp;&nbsp; 6:00pm-2am
<br>Sunday: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; closed
</p>
